@page
@model Final.Pages.WishList.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Wish[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Wish[0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Wish[0].Version)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Wish) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Version)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.WishID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.WishID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.WishID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
