@page
@model homework_6_trevinoj73.Pages.WishList.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                  @{
                    
                    var firstSort = "Title_asc";
                    if (Model.CurrentSort == "Title_asc")
                    {
                        firstSort = "Title_desc";
                    }
                }
                <a asp-page="./Index" asp-route-CurrentSort="@firstSort">@Html.DisplayNameFor(model => model.Wish[0].Title)</a>
               
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Wish[0].Price)
            </th>
            <th>
                 @{
                    
                    var therSort = "Version_asc";
                    if (Model.CurrentSort == "Version_asc")
                    {
                        firstSort = "Version_desc";
                    }
                }
                <a asp-page="./Index" asp-route-CurrentSort="@therSort">@Html.DisplayNameFor(model => model.Wish[0].Version)</a>
                
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Wish) {
        <tr>
            <td>
                <form method="get">
    <button type="submit" asp-page="./AddLink">Click me to go to add links</button>
</form>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Version)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.WishID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.WishID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.WishID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<hr />
@{
    
    var prevDisabled = "";
    if (Model.PageNum <= 1)
    {
        prevDisabled = "disabled";
    }
}

<nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item @prevDisabled"><a class="page-link" asp-page="./Index" asp-route-PageNum="@(Model.PageNum - 1)">Previous</a></li>
    <li class="page-item"><a class="page-link" asp-page="./Index" asp-route-PageNum="@(Model.PageNum + 1)">Next</a></li>
  </ul>
</nav>